<div class="sentimiento centrar">
    <p>Registro</p>
    <div class="panel panel-default">
        <p class="text-right-pers">AQUI VA UN TEXTO PARA ANALIZAR</p>
    </div>
    <div>
        <button type="button" class="btn btn-1"></button>
        <button type="button" class="btn btn-2"></button>
        <button type="button" class="btn btn-3"></button>
        <button type="button" class="btn btn-4"></button>
        <button type="button" class="btn btn-5"></button>
    </div>
</div>
<skip></skip>
