<div class="sentimiento2 container">
    <h1>Esto es sentimiento 2</h1>
    <div ng-app="apiApp" ng-controller="apiAppCtrl as vm">
        <h1>Pruebo Ajax con JSONP</h1>
        <p>
            Busca cerveza:
            <input type="text" ng-model="vm.nombre">
            <input type="button" value="Buscar" ng-click="vm.buscaCervezas()">
        </p>
        <ul>
            <li ng-repeat="cerveza in vm.cervezas"><span>{{cerveza.name}},</span> {{ cerveza.description }}</li>
        </ul>
    </div>

    <nav>
        <ul class="pager">
            <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>
