<div class="centrar panel panel-info" ng-controller="controladorSignUp as cl">
    <div class="panel-heading text-center">SIGN UP
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <form class="login panel-body" role="form" ng-submit="cl.enviar()">
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" placeholder=" You first name" ng-model="cl.fdatos.firstName">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" placeholder=" You last name" ng-model="cl.fdatos.lastName">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="password_1">Password</label>
                        <input type="password" class="form-control" id="password_1" placeholder=" You password" ng-model="cl.fdatos.password">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="password_2">Confirm Password</label>
                        <input type="password" class="form-control" id="password_2" placeholder=" confirm you password" ng-model="cl.fdatos.password">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="email_address">Email Address</label>
                        <input type="email" class="form-control" id="email_address" placeholder=" You e-mail">
                    </div>
                    <p>
                        <input type="checkbox">I agree ID the <a href="/pruebas.html">Terms of Service</a></p>
                    <p>
                        <input type="checkbox" checked>keep me updated on new features</p>
                    <input ng-controller="signUP" ng-click="" type="submit" class="btn btn-default-blue" value="SIGN UP" />
                </td>
            </tr>
        </table>
    </form>
</div>
